#GridComponent {
    width: 100%;
    display: block;
    position: relative;
    mat-table {
        box-shadow : none;
        width: 100%;
        overflow: scroll;
    }
    .table-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mat-button:hover {
        background: none;
    }
    .mat-row:not(.example-detail-row):hover {
        background: #f5f5f5;
        cursor:pointer;
    }
    .mat-column-actions {
        button {
            border: none;
            cursor: pointer;
            &.delete {
                mat-icon {
                    color:red;
                }
            }
        }
    }
    .mat-cell {
        .mat-icon {
            padding-right: 5px;
        }
        img {
            max-width: 70px;
        }
    }
    .channel-input-step {
        padding-top: 5px;
        padding-bottom: 12px;
        text-transform: uppercase;
    }
    .channel-input-step:hover {
        background: #f5f5f5;
        cursor: pointer;
    }
    .mat-row {
        min-height: auto !important;
    }
    .mat-header-row {
        height: 56px;
    }
    .mat-header-cell {
        font-size: 13px;
        font-weight: 600;
        color:#0465ac;
        text-transform: uppercase;
    }
    .mat-column-actions {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 15%;
        justify-content: center;
    }
    [hidden] { display: none !important;}
    .grid-actions {
        text-align: right !important;
        left: 30px;
        top: 9px;
        button {
            margin: .375rem;
            color: #fff !important;
            border-radius: 50%;
            font-size: .64rem;
            background-color: transparent !important;
            border: 2px solid #fff !important;
            text-transform: uppercase;
            word-wrap: break-word;
            white-space: normal;
            cursor: pointer;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            font-size: .81rem;
            min-width: auto;
            :hover {
                background:none;
            }
        }
        button.small {
            height: 40px;
            min-width: unset;
            width: 40px;
            position: relative;
            left: 1px;
            padding:0;
        }
    }

    .grid-header {
        border-width: 0 0 1px;
        border-style: solid;
        min-height: 47px;
        padding:16px 0;
    }
    .selection-counter {
        border-width: 1px 0 0;
        border-style: solid;
        padding: 16px 0;
        margin-top: 15px;
        background: #fff;
        display: flex;
        flex-direction: row;
    }
    .selection-counter > div {
        text-align:center;
        margin:5px; 
    }
    .master-toggle {
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .blank-slate-logo {
        //background: url('/assets/cropped.png') no-repeat center;
        width:100%;
        height:100%;
        
    }
    .blank-slate, .loader {
        font-size: 32px;
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        mat-icon {
            font-size: 50px;
        }  
        .blank-slate-message {
            margin-top:20px;
        }
    }

    .example-detail-row {
        visibility: hidden;
    }
    .example-expanded-row {
        min-height: 40px !important;
        visibility: visible;
    }
    
    .mat-row:not(.example-detail-row) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .row-detail {
        width:100%;
    }
    .example-element-row td {
        border-bottom-width: 0;
    }
    
    .example-element-detail {
        width:100%;
        .mat-icon {
            position:relative;
            top:6px;
            font-size:22px;
        }
    }
    button.delete {
        color:red;
    }

}
#GridComponent ::ng-deep  {
    .mat-form-field-label {
        color:#fff !important;
        font-weight: 600;
    }
    /* Border */
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: white;
    }
    /* Font color */
    input.mat-input-element {
        color: white;
    }
}