<div id='UserMenuComponent'>
    <div class='user-info bg-main text-white'>
        <div class='top-row'>
            <div aria-labelledby="user-menu-username">
                <mat-icon class="face">face</mat-icon>
            </div>
            <div class="sign-out" role="button" tabindex="0"> Sign Out <mat-icon>power_settings_new</mat-icon></div>
        </div>
        <div class='bottom-row'>
            <div class='text-basic-size username bolded'>Admin</div>
            <div class='text-basic-size user-email'>admin@autocargoweb.com</div>
            <div class="edit-profile"><a class="text-white" title="My Profile" tabindex="0"><mat-icon>edit</mat-icon></a></div>
        </div>
    </div>
    <div class='navigation'>
        <nav class='menu-items'>
            <ul>
                <li class="text-grey-dark bg-hover-grey-superlight text-hover-main "><!---->
                    <a class="text-grey-dark text-hover-main border-main text-grey-mid-permanent" tabindex="0" target="_self" href="/vehicles">
                        <div class="menu-title text-grey-dark"><!----><!----><mat-icon class="text-grey-mid-permanent">directions_car</mat-icon> Vehicles </div>
                        <div class="labels-wrap text-white"><!----><!----></div>
                    </a><!----><!---->
                </li>
            </ul>
        </nav>
    </div>
</div>